<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% block styling %}
    {{ bootstrap.load_css() }}
    {% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    {% block body %}
    {% endblock %}
    {{ bootstrap.load_js() }}

    <script>
    function scrollToBottom() {
        var bottomElement = document.getElementById("bottom");
        if (bottomElement) {
            bottomElement.scrollIntoView({ behavior: "smooth" });
        } else {
            console.error("Element with ID 'bottom' not found.");
        }
    }
    </script>
</body>